.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.cont{
    text-align: center;
}
.heading {
    color: #444;
}
.para {
    color: #666;
}