*{
    margin: 0px;
}
.abc{
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;
}

#header1{
    background-color: #1c2333;
    grid-column: span 2;
    border: 0px;
}

.logo{
    margin-top: 18px;
    margin-left: 5px;
}

.title {
    font-size: 1rem;
    font-weight: 1000;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin-left: 5px;
    margin-top: 32px;
}

.logoset{
    display: flex;
    width: 30%;
}

.searchbarset{
    width: 40%;
}

.profileset{
    width:28.5%;
    align-items: end;
    justify-content: right;
    padding-left: 10px;
}
.dash{
    margin-top: 30px;
}
.headerset { 
    font-size: 40px;
    align-items: center;
    display: flex;
}
.searchbar {
    width: 100%;
    display: flex;
}

.searchbar input{
    height: 35px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #1c2333;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(4, 67, 112);
    border-right: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.search-icon{
    margin-top: 20px;
    font-size: 17px;
    height: 35px;
    width: 30px;
    border: 5px;
    border-color: aliceblue;
    background-color:rgb(4, 67, 112) ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-icon i{
    margin-top: 10px;
    margin-left: 5px;
    border: 5px;
}

.profileset{
    margin: 0%;
    display: flex;
}

.addproject button{
    background-color: rgb(4, 67, 112) ;
    height: 40px;
    width: 60px;
    margin: 7px;
    border: 1px;
    border-radius: 5px;
    font-size: 15px;
    color: #417ce1;
}

.addproject button p{
    font-size: 13px;
}

#sider1{
    background-color:#0f1726;
    border: 0px;
}

#bodyy1{
    background-color: #0E1525;
}