*{
    margin: 0px;
}

body{
    margin: 0px;
    border: 0px;
    height: 100vh;
}

.header{
    background-color: #1c2333 ;
    border: 0px;
    height: 65px;
}

.logo{
    margin-top: 16px;
    margin-left: 15px;
}

.title {
    font-size: 1rem;
    font-weight: 1000;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin-left: 5px;
    margin-top: 21px;
}

.logoset{
    display: flex;
    width: 30%;
    height: 100%;
}

.searchbarset{
    width: 40%;
    display: flex;
}

.profileset{
    width: 30%;
    height: 100%;
}

.profileset p{
    text-align: right;
    margin-right: 10px;
    margin-top: 13px;
}

.headerset { 
    font-size: 25px;
    align-items: center;
    display: flex;
}

.domain select{
    height: 35px;
    width: 70px;
    margin-top: 15px;
    margin-left: 0px;
    background-color: #21293b;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(4, 67, 112);
    border-right: #0E1525;
    padding: 2px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}
.domain select:hover {
    border: 1px solid #7190c6;
}

.searchbar {
    width: 100%;
    display: flex;
}

.searchbar input{
    height: 35px;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    background-color: #21293b;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(4, 67, 112);
    padding: 10px;
    outline: rgb(255, 255, 255);
    color: #a6a5a5;
}

.searchbar input:hover {
    border: 1px solid #7190c6; /* Add border on hover */
}
.search-icon{
    margin-top: 15px;
    font-size: 17px;
    height: 35px;
    width: 50px;
    border: 5px;
    border-color: aliceblue;
    background-color:rgb(4, 67, 112) ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-icon:hover {
    border: 1px solid #7190c6;
}

.search-icon i{
    margin-top: 10px;
    margin-left: 5px;
    border: 5px;
}

.bodyy{
    display: block;
    background-color: #070b13;
    width: calc(100%-100px);
    /* height: calc(100% - 95px); */
    min-height: 100vh;
    /* overflow-y: scroll; */
    padding: 30px;
    padding-top: 0px;
}

.filters{
    width:70%;
    height: 30px;
    margin: auto;
    display: flex;
    position: relative;
    background-color:  #1c2333;
    border-radius: 9px;

}

.filter1,.filter2,.filter3,.filter4{
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0
}


.filter1 select{
    border-bottom-left-radius: 10px;
}

.filter4 select{
    border-bottom-right-radius: 10px;
}

.filters select{
    width: 100%;
    border: none;
    background-color: #1c2333;
    height: 100%;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}


.filters select:hover {
    border: 1px solid #7190c6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.project-card{
    height: 200px;
    background-color: #141e2f;
    border-radius: 20px;  
    color:#a6a5a5;
    margin: 20px;
}

.cardpart{
    display: flex;
}

.profile-picture{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.pdiscript{
    width: calc(100% - 140px);
    max-height: 135px;
    border-top-right-radius: 20px;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
}

.pname p{
    color: #cfcfcf;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 700px) {
    .row1 {
        flex-direction: column; 
    }

    .project-card {
        width: 100%; 
        margin: 10px 0; 
    }
}

.sprofile{ 
    display:block;
    margin: 20px;
}

.studetails{
    display: flex;
    flex-direction: row;
    
}

.sdetails{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 250px;
    width: 900px;
    border: 2px;
    border-radius: 5px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #1c2333 ;    
 }
 
.probackground{
    display: block;
    position: absolute;
    top: 0px;
    height: 105px;
    width: 100%;
    overflow: hidden;
    background-color:rgb(4, 67, 112);
}

.sphoto{
    display: block;
    position: absolute;
    background-color: #0E1525;
    top: 20px;
    left: 20px;
    height:150px;
    width: 150px;
    overflow: hidden;
    border: 4px solid beige;
    border-radius: 50%;
    background-color: #cfcfcf;
}

.sname{
    position: absolute;
    top: 190px;
    left:20px ;
    overflow: hidden;
    /* color: #a6a5a5; */
}

.sndetail p{
    color:#a6a5a5;
}

.sprojects{
    display: block;
    margin: 10px;
    border: 2px solid white;
    height: auto;
    min-height: 250px;
    width: 400px;
    color: #a6a5a5;
    border-radius: 2px;
    background-color: #141e2f;
}

.sprojectdetails{
    color: #a6a5a5;
    margin: 20px;
    padding: 5px 10px;
}

@media only screen and (max-width:768px){
    .studetails{
        flex-direction: column;
    }
    .sdetails{
        width: 100%;
    }
    .sprojects{
        width: 100%;
        height: auto;
        min-height: 10px;
    }
    
}
@media only screen and (max-width:320px){
    
}
.sbio{
    margin: 10px;
    border: 2px solid white;
    padding: 5px;
    height: auto;
    min-height: 20px;

}

.stubio{
    background-color: #1c2333;
    color: #a6a5a5;
    margin: 3px;
    padding: 2px 5px;
}

.stuskill{
    margin: 10px;
    border: 2px solid white;
    height: auto;
    min-height: 5px;
}

.sskill{
    background-color: #1c2333;
    color: #a6a5a5;
}

.proj-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;  /* Spacing between grid items */
}
  
.proj-item {
    /* border: 3px solid #20283b; */
    padding-right: 20px;
}

.project-card1{
    height: 200px;
    background-color: #141e2f;
    border-radius: 20px;  
    color:#a6a5a5;
    margin: 20px;
}

.cardpart1{
    display: flex;
}

.profile-picture1{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.pdiscript1{
    width: calc(100% - 140px);
    max-height: 140px;
    border-top-right-radius: 20px;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
}

.pname1 p{
    color: #cfcfcf;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}